<footer class="border bg-light container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8">
            <div class="row">
                <div class="col-sm-12 col-md-4 ">
                    <ul class="list-group" data-header="About HSTC">
                        <li><a href="{% url 'about' %}" class="footer-list-item ">About Us</a></li>
                        <li><a href="#" class="footer-list-item">Our Staff</a></li>
                        <li><a href="#" class="footer-list-item">Departments</a></li>
                        <li><a href="#" class="footer-list-item">Gallery</a></li>
                        <li><a href="#" class="footer-list-item">Hostels</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul class="list-group" data-header="Quick Links">
                        <!-- <li><a href="#" class="footer-list-item bg-dark"></a></li> -->
                        <li><a href="https://education.gov.ng/" class="footer-list-item" target="_blank">Federal
                                Ministry Of Education</a></li>
                        <li><a href="https://ministryofeducation.kn.gov.ng/" class="footer-list-item"
                                target="_blank">Kano State Ministry of Education</a></li>
                        <li><a href="https://stsbkano.org.ng/" class="footer-list-item" target="_blank">STSB
                                Kano</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="row address-list" data-header="Contact">
                        <div class="col-sm-12">
                            <address>
                                Email: <a href="mailto:webmaster@example.com">hstc@stsbkano.ng</a>
                                <span>Address: 7F3CXGQP+R6W, State Rd, Giginyu, Kano 700213, Kano,
                                    Nigeria</span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
    <div class="row icon-section">
        <div class="col"></div>
        <div class="col-sm-12 col-md-4">
            <a href="#">
                <i class="fa fa-facebook-square fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter-square fa-2x"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
        </div>
        <div class="col"></div>
    </div>
    <div class="row Copyright">
        <div class="col-md-12">
            <p>Copyright &#169; 2024 by <a class="navbar-brand" href="{% url 'index' %}">Humaira Science and Techincal Collage</a> all right
                reserved
            </p>
        </div>
    </div>
    <!-- <p>&#169; Copyright Ahmad Amiru All right reserved</p> -->
</footer>